<b>Importing Libraries</b>

In [14]:
import numpy as np
import matplotlib.pyplot as mtp
import pandas as pd

**Importing Datasets**

In [15]:
nba=pd.read_csv('nba_2013.csv')
nba.head(7)

,player,pos,age,bref_team_id,g,gs,mp,fg,fga,fg.,...,drb,trb,ast,stl,blk,tov,pf,pts,season,season_end
0,Quincy Acy,SF,23,TOT,63,0,847,66,141,0.468,...,144,216,28,23,26,30,122,171,2013-2014,2013
1,Steven Adams,C,20,OKC,81,20,1197,93,185,0.503,...,190,332,43,40,57,71,203,265,2013-2014,2013
2,Jeff Adrien,PF,27,TOT,53,12,961,143,275,0.520,...,204,306,38,24,36,39,108,362,2013-2014,2013
3,Arron Afflalo,SG,28,ORL,73,73,2552,464,1011,0.459,...,230,262,248,35,3,146,136,1330,2013-2014,2013
4,Alexis Ajinca,C,25,NOP,56,30,951,136,249,0.546,...,183,277,40,23,46,63,187,328,2013-2014,2013
5,Cole Aldrich,C,25,NYK,46,2,330,33,61,0.541,...,92,129,14,8,30,18,40,92,2013-2014,2013
6,LaMarcus Aldridge,PF,28,POR,69,69,2498,652,1423,0.458,...,599,765,178,63,68,123,147,1603,2013-2014,2013

**Perform basic functions to gain knowledge on the dataset**

In [16]:
nba.shape

(481, 31)

**Checking for Null Values**

In [17]:
nba.isnull().any()

player          False
pos             False
age             False
bref_team_id    False
g               False
gs              False
mp              False
fg              False
fga             False
fg.              True
x3p             False
x3pa            False
x3p.             True
x2p             False
x2pa            False
x2p.             True
efg.             True
ft              False
fta             False
ft.              True
orb             False
drb             False
trb             False
ast             False
stl             False
blk             False
tov             False
pf              False
pts             False
season          False
season_end      False
dtype: bool

**Replace Null values with specific values**

In [18]:
nba["fg."].fillna(nba["fg."].mean(),inplace=True)
nba["x2p."].fillna(nba["x2p."].mean(),inplace=True)
nba["efg."].fillna(nba["efg."].mean(),inplace=True)
nba["x3p."].fillna(nba["x3p."].mean(),inplace=True)
nba["ft."].fillna(nba["ft."].mean(),inplace=True)

**Selecting Numeric Columns from the dataset**

In [28]:
nba.select_dtypes(include=np.number).columns.tolist()

['age',
 'g',
 'gs',
 'mp',
 'fg',
 'fga',
 'fg.',
 'x3p',
 'x3pa',
 'x3p.',
 'x2p',
 'x2pa',
 'x2p.',
 'efg.',
 'ft',
 'fta',
 'ft.',
 'orb',
 'drb',
 'trb',
 'ast',
 'stl',
 'blk',
 'tov',
 'pf',
 'pts']

In [20]:
distance_columns = ['age', 'g', 'gs', 'mp', 'fg', 'fga', 'fg.', 'x3p', 'x3pa', 'x3p.', 'x2p', 'x2pa', 'x2p.', 'efg.', 'ft', 'fta', 'ft.', 'orb', 'drb', 'trb', 'ast', 'stl', 'blk', 'tov', 'pf', 'pts']
nba_numeric = nba[distance_columns]

**Normalizing the numerical columns**

In [21]:
nba_normalized = nba_numeric.apply(lambda x: (x - x.min()) / (x.max() - x.min()))

**Defining Categorical Columns**

In [22]:
nba_category = nba[['player', 'bref_team_id', 'season']]

In [23]:
nba = pd.concat([nba_category, nba_normalized], axis=1)

from sklearn.model_selection import train_test_split

# Columns that will be used to make predictions.
x_columns = nba[['age', 'g', 'gs', 'mp', 'fg', 'fga', 'fg.', 'x3p', 'x3pa', 'x3p.', 'x2p', 'x2pa', 'x2p.', 'efg.', 'ft', 'fta', 'ft.', 'orb', 'drb', 'trb', 'ast', 'stl', 'blk', 'tov', 'pf']]

# Column that we would like to predict.
y_column = nba["pts"]

x_train, x_test, y_train, y_test = train_test_split(x_columns, y_column, test_size=0.3, random_state=0)

**Making the KNN model using a regressor for continuous values**

In [24]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn import metrics

In [25]:
for k in range(10):
    k_value = k + 1
    knn = KNeighborsRegressor(n_neighbors = k_value)
    knn.fit(x_train, y_train) 
    y_pred = knn.predict(x_test)
    print ("Regression score:",format(metrics.r2_score(y_test, y_pred),'.4f'), "for the k_value:", k_value)

Regression score: 0.9145 for the k_value: 1
Regression score: 0.9464 for the k_value: 2
Regression score: 0.9548 for the k_value: 3
Regression score: 0.9594 for the k_value: 4
Regression score: 0.9583 for the k_value: 5
Regression score: 0.9579 for the k_value: 6
Regression score: 0.9579 for the k_value: 7
Regression score: 0.9609 for the k_value: 8
Regression score: 0.9576 for the k_value: 9
Regression score: 0.9557 for the k_value: 10

<B>Fitting of Dataset</B> 
<br>
<p>From the analysis of scores, K=8 has the highest score. Thus we take K=8 for fitting</p>

In [26]:
knn = KNeighborsRegressor(n_neighbors = 8)
knn.fit(x_train, y_train) 
y_pred = knn.predict(x_test)
print ("Mean Squared Error is:", format(metrics.mean_squared_error(y_test, y_pred), '.7f'))
print ("Regression score is:", format(metrics.r2_score(y_test, y_pred),'.4f'))

Mean Squared Error is: 0.0011143
Regression score is: 0.9609

In [27]:
Test_With_Predicted = pd.DataFrame({'Actual Points': y_test.tolist(), 'Predicted Points': y_pred.tolist()})
Test_With_Predicted

     Actual Points  Predicted Points
0         0.168145          0.125723
1         0.276514          0.297243
2         0.422676          0.363189
3         0.007327          0.011088
4         0.381026          0.373939
..             ...               ...
140       0.426919          0.421664
141       0.013498          0.019379
142       0.312379          0.303943
143       0.306980          0.273766
144       0.036251          0.029985

[145 rows x 2 columns]